/* font-family: 'Ubuntu', sans-serif; */


#title {
  background-color: #ff4c68;
}

.navbar {
  margin: 0 auto 3%;
}
.navbar-brand {
  font-weight: bold;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: white;
  line-height: 1.5;
  margin: 15% auto 3%;
}

.title {
  padding: 3% 15%;
}

.btn {
  margin: 3% 1%;
}

.title-image {
  width: 300px;
  height: 600px;
  margin: 5% auto 5% 15%;

  transform: rotate(20deg);
}
