body {
  font-family: 'Montserrat', sans-serif;
}

/*  ----------------------------- TITLE Section ------------------------- */
#title {
  background-color: #ff4c68;
  color: white;
  padding: 1% 15%;
}

/* -------------- Navigation Bar ------------------ */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 10px;
  text-align: center;
}

.nav-link {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

/* ---------------- Title ---------------- */
.title {
  padding: 3% 1% 5%;
}

.title-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin: 3% auto 10%;
}

/* ----------- Download Buttons ------------------ */
.download-btn {
  margin: 5% 3% 3%;
}

/* ---------- Title Image of Dog ---------------- */


.title-image {
  width: 21rem;
  transform: rotate(25deg);
  position: absolute;
  margin: 2% auto 0 6.5%;
}


/*  ----------------------------- FEATURES Section ------------------------- */
#features {
  font-family: inherit;
  text-align: center;
  padding: 10% 15%;
  background-color: white;
  position: relative;
}

.features-icon {
  color: #ef8172;
  margin: 1rem auto;
  line-height: 2;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-heading {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2;
}

.features-text {
  color: #8f8f8f;
  text-align: center;
  padding: 0 7%;
}


/*  -------------------------- TESTIMONIALS Section ----------------------- */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.75;
}

.testimonial-text {
  line-height: 1.25;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/*  ----------------------------- PRESS Section ------------------------- */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 12.5%;
  margin: 20px 20px 50px;
}

/*  ----------------------------- PRICING Section ------------------------- */

#pricing {
  padding: 7.5% 15%;
  text-align: center;
  background-color: white;
}

p {
  margin: 2px;
}

.pricing-card {
  padding: 5% 3%;
}

.pricing-button {
  margin: 2rem;
}

/*  ------------------------- CALL TO ACTION Section ---------------------- */
#cta {
  padding: 5% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: white;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  max-width: 980px;
  font-size: 3.5rem;
  line-height: 1.5;
  margin: 5% auto 0;
}

/* .download-btn styles are written in the Title Section */


/*  ----------------------------- FOOTER Section ------------------------- */
#footer {
  background-color: white;
  text-align: center;
  margin: 1rem auto;
}

.social-icon {
  margin: 1rem 0.75rem;
  color: #000;
}


/* .......................................................................... */


/* --------- Using CSS Media Query for Mobile Optimisation of website ----- */

@media only screen and (max-width: 991px) {

  #title {
    text-align: center;
  }

  .title {
    padding: 3% 5%;
  }

  .title-image {
    width: 60%;
    position: static;
    margin: 15% auto;
    transform: rotate(0);
  }
}
